{% extends 'base.html' %}

{% block content %}
<div class="tab">
    <table align="center" width="1000" border="1">
        <tr>
            <th>Название</th>
            <th>Цена</th>
            <th>В наличии</th>
        </tr>
        <tr>
            <td>Ячейка 3</td>
            <td>Ячейка 4</td>
            <td>zxc</td>
        </tr>
        <tr>
            <td>123</td>
            <td>213</td>
            <td>zzz</td>
        </tr>
    </table>
</div>
{% endblock %}