<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/Base.css" />
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <title>Delivery Best</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-light bg-light" id="Nav">
                <div class="navbar-brand">
					<!-- <span class="fa fa-star checked"></span> 
					<span class="fa fa-star"></span> -->
					<button class="Login" id="Button">
						<img src="static/images/profile.png" alt="" style="vertical-align:middle">
						Войти
					</button>
					<button class="Logout" id="Button">
						<img src="static/images/login.png" alt="" style="vertical-align:middle">
						Зарегестрироваться
					</button>
				</div>
				<br>
				<div class="alert alert-light bg-light" role="alert" id="Busket">
					<img src="static/images/busket.jpg" alt="" style="vertical-align:middle"> 
					Корзина
				</div>
            </nav>
        </header>
        <main role="main" class="container">
            {% block content %}
            {% endblock %}
        </main>
        <div class="form-main">
            <h3>
                Информация
            </h3>
            <div class="form-info">
                <p>

                </p>
            </div>
        </div>
		<a href="#" title="Вернуться к началу страницы" id="BtnTop">Вверх</a>
    </body>
</html>
